body {
  background: #1FDA9A; }

header {
  background: #23CC67; }

.fondo {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  background-image: url("../img/carousel-bg.jpg");
  background-repeat: no-repeat;
  margin-top: 50px; }

.titulo {
  color: #ffffff;
  font-size: 72px;
  margin-top: 70px; }

.sub {
  color: #ffffff;
  font-size: 20px; }

.secdos {
  margin-top: 70px;
  font-size: 52px;
  color: #ffffff; }

.linea {
  width: 72px; }

.fondodos {
  width: 100%;
  height: auto;
  background-color: #112A3B;
  -webkit-box-shadow: 6px 4px 53px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 4px 53px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 4px 53px 0px rgba(0, 0, 0, 0.75);
  margin-top: 72px; }

.text-width {
  color: #ffffff;
  margin-top: 20px; }

.chicas {
  height: 8px; }

.agency {
  width: 100%;
  height: 500px;
  margin-top: 20px; }

.compu {
  margin-left: 35%; }

.button {
  width: 35%;
  height: 52px; }

.sombra {
  -webkit-box-shadow: 0px 2px 58px 19px #1d7334;
  -moz-box-shadow: 0px 2px 58px 19px #1d7334;
  box-shadow: 0px 2px 58px 19px #1d7334;
  margin-top: 70px;
  padding: 20px; }

.cuadro1 {
  width: 35%;
  height: 35%;
  margin-left: 35%; }

.sombra2 {
  -webkit-box-shadow: 0px 4px 41px 7px #f08b1f;
  -moz-box-shadow: 0px 4px 41px 7px #f08b1f;
  box-shadow: 0px 4px 41px 7px #f08b1f;
  margin-top: 70px;
  padding: 20px; }

.title {
  margin-top: 83px; }

.titulo {
  font-size: 32px; }

.blanco {
  width: 250px;
  height: auto;
  border: 1px solid #23CC67; }

.cua_boton {
  width: 225px;
  height: 60px;
  background-color: #f08b1f;
  margin-left: 10px;
  margin-top: 10px; }

.boton_active {
  width: 280px;
  height: 60px;
  margin-left: 10px;
  margin-top: 10px; }

#boton_purchase:hover {
  cursor: pointer;
  background-color: #23CC67; }

.cua_boton2 {
  width: 225px;
  height: 80px;
  margin-left: 24px;
  background-color: #CCD1D1; }

.cantidad {
  font-size: 30px; }

.text-white {
  color: white; }

.pt-5 {
  padding-top: 5%; }

ol {
  list-style: none; }

.pt--10 {
  padding-top: 10%; }

.margin {
  margin-bottom: 5%; }

.linea2 {
  width: 200px;
  margin-left: 5px; }

.text-gray {
  color: #888; }

.boton_chico {
  width: 100px;
  height: 40px;
  margin-left: 110px; }

.pb-10 {
  padding-bottom: 10%; }

form {
  width: 400px;
  height: auto;
  background: rgba(0, 0, 0, 0.7);
  padding: 20px 20px;
  border-radius: 8px; }

input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  font-size: 17px;
  border: none; }

textarea {
  min-width: 100px;
  max-height: 200px;
  max-width: 400px; }

#boton_enviar {
  background: #f08b1f;
  color: #ffffff;
  padding: 20px;
  width: 40%;
  margin-left: 35%; }

#boton_enviar:hover {
  cursor: pointer; }

.fondo3 {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  background-image: url("../img/img-divider-img.jpg");
  background-repeat: no-repeat; }

.crop {
  float: left;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 250px;
  top: 150px; }

.crop img {
  position: relative;
  top: -150px; }

.iconos {
  font-size: 6em; }

.muestra {
  width: 100%;
  height: 100px; }

.box {
  width: 20%;
  height: 100px;
  float: left;
  background-color: #1BD7F7; }

.box2 {
  width: 20%;
  height: 100px;
  float: left;
  background-color: #f08b1f; }

.box3 {
  width: 20%;
  height: 100px;
  float: left;
  background-color: #D8D8D8; }

.box4 {
  width: 20%;
  height: 100px;
  float: left;
  background-color: #F4FA58; }

.box5 {
  width: 20%;
  height: 100px;
  float: left;
  background-color: #58FA58; }

.box6 {
  width: 20%;
  height: 100px;
  float: left;
  background-color: #E0E0F8; }

.box7 {
  width: 20%;
  height: 100px;
  float: left;
  background-color: #A9A9F5; }

.box8 {
  width: 20%;
  height: 100px;
  float: left;
  background-color: #5858FA; }

.box9 {
  width: 20%;
  height: 100px;
  float: left;
  background-color: #0000FF; }

.box10 {
  width: 20%;
  height: 100px;
  float: left;
  background-color: #08088A; }

.box11 {
  width: 20%;
  height: 100px;
  float: left;
  background-color: #610B4B; }

.box12 {
  width: 20%;
  height: 100px;
  float: left;
  background-color: #DF01D7; }

.box13 {
  width: 20%;
  height: 100px;
  float: left;
  background-color: #FE2EF7; }

.box14 {
  width: 20%;
  height: 100px;
  float: left;
  background-color: #F781F3; }

.box15 {
  width: 20%;
  height: 100px;
  float: left;
  background-color: #F6CEF5; }

.box16 {
  width: 20%;
  height: 100px;
  float: left;
  background-color: #F7819F; }

.box17 {
  width: 20%;
  height: 100px;
  float: left;
  background-color: #FE2E64; }

.box18 {
  width: 20%;
  height: 100px;
  float: left;
  background-color: #FF0040; }

.box19 {
  width: 20%;
  height: 100px;
  float: left;
  background-color: #8A0829; }

.box20 {
  width: 20%;
  height: 100px;
  float: left;
  background-color: #1C1C1C; }

.box21 {
  width: 20%;
  height: 100px;
  float: left;
  background-color: #0B615E; }

.box22 {
  width: 20%;
  height: 100px;
  float: left;
  background-color: #088A85; }

.box23 {
  width: 20%;
  height: 100px;
  float: left;
  background-color: #01DFD7; }

.box24 {
  width: 20%;
  height: 100px;
  float: left;
  background-color: #2EFEF7; }

.box25 {
  width: 20%;
  height: 100px;
  float: left;
  background-color: #A9F5F2; }

/*# sourceMappingURL=main.css.map */
